.custom-btn {
    display: inline-block;
    background-color: transparent;
    padding: 0em 0em;
    border: none;
    outline: none;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
  }
  .on {
    color: #ffda0b;
  }
  .off {
    color: #ccc;
  }
  